<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Letterboxd Data Analysis</title>
</head>
<body>
    <h1 class="pt-3"><strong>Letterboxd Data Analysis</strong></h1>
    <br>
    <div class="container-texto">
        <p class="texto">
            This website analyzes movies watched by Letterboxd users, showing popular genres, 
            movie release years, directors, actors, actresses, countries, and languages. 
            <br>The result may take a little time to generate, depending on the number of movies 
            the analyzed user has in their profile, so I ask for some patience while the graphs 
            are being displayed. In the future, I plan to add more analyses and speed up the 
            data extraction process.
            <br>
            <strong>If you don't have a Letterboxd account but want to see how it works, you can use this username: <span style="color: #4CAF50;">bebaagua</strong></span>
            <br>
            Have fun!
        </p>
        <br>
    </div>
    {% if error_message %}
        <p class="error-message">{{ error_message }}</p>
    {% endif %}
    <section id="form-section">
        <div class="form-container">
            <p>Please provide a valid Letterboxd username:</p>
            <form action="/result" method="post">
                <input type="text" name="username" placeholder="Enter your username" required>
                <input type="submit" value="Get data" class="submit-button">
            </form>
            <div class="loading-message" id="loadingMessage">
                <div class="loading-indicator"></div>
                <p>Loading... this could take a moment</p>
            </div>
        </div>
    </section>
    <br><br><br>
    <footer>
        <div class="contact-info">
            <p>Created by Iryna Azevedo</p>
            <ul class="social-links mt-4 text-center">
                <li>
                    <a target="_blank" href="https://www.linkedin.com/in/irymna/">
                        <i class="bi bi-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/irymna">
                        <i class="bi bi-github"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://iryna.up.railway.app/">
                        <i class="bi bi-globe"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://letterboxd.com/irymna/">
                        <i class="bi bi-camera-reels-fill"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
    <script>
        document.querySelector('.submit-button').addEventListener('click', function() {
            document.querySelector('.submit-button').style.display = 'none';
            document.getElementById('loadingMessage').style.display = 'block';
        });
    </script>
</body>
</html>
